.App {
  text-align: center;
}



body {
  background-color: #5e5e5e;
  font-family: 'Hind Vadodara', sans-serif;
}

img {
  width: 360px;
  height: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header_container {
  
  margin-bottom: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mealFontSize {
  margin-top: 40px; 
  margin-bottom: 40px;
  
}

.macroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.ounce-amount {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: bold;
}

.mealContainer {
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.calorieContainer {
  margin-left: 40px;
  margin-right: 40px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.twenty {
  margin-bottom: 20px;
}

.carbContainer {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.proteinContainer {
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.fatContainer {
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.removeMealContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  margin-top: 20px;
  margin-left: 20px;
}

.removeBtn {
  padding: 10px;
  background-color: #eb4034;
  color:white;
  border: 1px solid #eb4034;
  cursor: pointer;
  font-weight: bold; 
}

.carbstyle {
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}


@media (min-width: 500px) {
  .header {
    font-size: 60px;
    /* letter-spacing: 4px;  */
    margin-bottom: 20px;
  }

  img {
    width: 600px;
    height: auto;
  }
}
  @media (max-width: 500px) {
    
    /* .mealFontSize {
      margin-top: 40px; 
      margin-bottom: 40px;
      font-size: 12px;
    } */
    .calorieSize {
      font-size: 18px;
    }

    .ounce-amount {
      font-size: 24px;
    }

    .carbContainer {
      margin: 0;
    }

    .proteinContainer {
      margin: 0
    }

    .fatContainer {
    margin: 0;
  margin-left: 40px;
  margin-right: 40px;
    }

    .calorieContainer {
      margin: 0
    }

    .mealContainer {
      margin: 0;
    }
    
    .removeBtn {
      font-size: 12px;
      margin-right: 50px;
    }

    .macroContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 40px;
    }


  }


    @media (max-width: 900px) {
      .header {
        
        letter-spacing: '9px'; 
        margin-bottom: '20px'
      } 

      .fooditem {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      }
      }

      @media (min-width: 901px) {
        .fooditem {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          margin-top: 60px;
          margin-bottom: 100px;
          
          
          }

          .foodinfo {
            margin-right: 20px;
          }
      }
      @media (prefers-reduced-motion: no-preference) {
        .App-logo {
          animation: App-logo-spin infinite 20s linear;
        }
      }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
