.App {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: #5e5e5e;
  font-family: 'Roboto Mono', monospace;
}

button {
  font-family: 'Roboto Mono', monospace;
}

img {
  width: 360px;
  height: auto;
}

* {
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header_container {
  margin-bottom: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .mealFontSize {
  border-bottom: 1px solid gray;
} */

.macroContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(207, 207, 207);
  border-left: 1px solid rgb(207, 207, 207);
  border-right: 1px solid rgb(207, 207, 207);
  background-color: rgb(246, 246, 246);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.containerMacros {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.containerMacros div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 20px;
  font-weight: bold;
}

.ounce-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  font-size: 22px;
  font-weight: bold;
}

.mealContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: -170px;
}

.calorieContainer {
  width: 58px; /* Again, adjust based on actual content and design requirements */
  text-align: left; /* This ensures the numbers are right-aligned within their container */
}

.calorieContainer2 {
  flex: 2; /* Adjust this according to your layout needs */
  width: 200px; /* You might need to adjust this as well */
  text-align: left; /* This ensures that the text is right-aligned within its container */
  margin-left: 20px;
  font-weight: bold;
}

.twenty {
  margin-bottom: 20px;
}

.removeMealContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
}

.removeBtn {
  padding: 10px;
  background-color: #c92a2a;
  color: white;
  border: 1px solid #c92a2a;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  font-size: 14px;
}

.carbstyle {
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.toggleFoodSearchBtn {
  text-align: left;
  margin-top: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #20545c;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 60px;
}

.container-01 {
  margin-top: 60px;
}

.container-02 {
  display: flex;
  justify-content: center;
}

.container-03 {
  background-color: #20545c;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 50%;
  max-width: 800px;
  margin: 0 auto;
}

.container-1 {
  display: flex;
  margin: 0 20px;
}

.container-2 {
  display: flex;
  margin-right: 140px;
}

.container-3 {
  text-align: center;
  margin: 0 20px;
}

.formContainerMain {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: left;
}

.formContainerMain2 {
  margin-right: 40px;
}

@media (min-width: 500px) {
  .header {
    font-size: 60px;
    /* letter-spacing: 4px;  */
    margin-bottom: 20px;
  }

  img {
    width: 600px;
    height: auto;
  }
}
@media (max-width: 500px) {
  /* .mealFontSize {
      margin-top: 40px; 
      margin-bottom: 40px;
      font-size: 12px;
    } */

  .macros {
    display: flex;
    flex-direction: column;
  }
  .toggleFoodSearchBtn {
    margin-top: 20px;
  }

  .formContainerMain2 {
    margin-bottom: 30px;
  }
  .macroContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(207, 207, 207);
    border-left: 1px solid rgb(207, 207, 207);
    border-right: 1px solid rgb(207, 207, 207);
    background-color: rgb(246, 246, 246);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  .macroContainer {
    font-size: 12px;
  }

  .calorieContainer2 div {
    flex: 2; /* Adjust this according to your layout needs */
    width: 200px; /* You might need to adjust this as well */
    text-align: left; /* This ensures that the text is right-aligned within its container */

    font-weight: bold;
  }

  .calorieContainer2 {
    margin-right: 20px;
  }

  .formContainerMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: left;
  }

  .containerMacros div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 14px;

    font-weight: bold;
  }

  .containerMacros {
    margin-right: -9px;
  }

  .container-03 {
    width: 100%;
  }

  .container-03 div {
    font-size: 12px;
  }
  .calorieSize {
    font-family: 'Roboto Mono', monospace; /* or any other monospace font */
  }

  .ounce-amount {
    font-size: 24px;
  }

  .carbContainer {
    margin: 0;
  }

  .proteinContainer {
    margin: 0;
  }

  .fatContainer {
    margin: 0;
    margin-left: 40px;
    margin-right: 40px;
  }

  .calorieContainer {
    margin: 0;
  }

  .mealContainer {
    margin: 0;
  }
}

@media (max-width: 900px) {
  .header {
    letter-spacing: '9px';
    margin-bottom: '20px';
  }

  .fooditem {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

@media (min-width: 901px) {
  .fooditem {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-bottom: 100px;
  }

  .foodinfo {
    margin-right: 20px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
