body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mealFontSize {
  margin-top: 40px; 
  margin-bottom: 40px;
  
}

.macroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.ounce-amount {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: bold;
}

.mealContainer {
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.calorieContainer {
  margin-left: 40px;
  margin-right: 40px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.twenty {
  margin-bottom: 20px;
}

.carbContainer {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.proteinContainer {
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.fatContainer {
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.removeMealContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  margin-top: 20px;
  margin-left: 20px;
}

.removeBtn {
  padding: 10px;
  background-color: #eb4034;
  color:white;
  border: 1px solid #eb4034;
  cursor: pointer;
  font-weight: bold; 
}

.carbstyle {
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}


@media (min-width: 375px) {
  .header {
    font-size: 40px;
    letter-spacing: '9px'; 
    margin-bottom: '20px'
  }
}
  @media (max-width: 500px) {
    
    /* .mealFontSize {
      margin-top: 40px; 
      margin-bottom: 40px;
      font-size: 12px;
    } */
    .calorieSize {
      font-size: 18px;
    }

    .ounce-amount {
      font-size: 24px;
    }

    .carbContainer {
      margin: 0;
    }

    .proteinContainer {
      margin: 0
    }

    .fatContainer {
    margin: 0;
  margin-left: 40px;
  margin-right: 40px;
    }

    .calorieContainer {
      margin: 0
    }

    .mealContainer {
      margin: 0;
    }
    
    .removeBtn {
      font-size: 12px;
      margin-right: 50px;
    }

    .macroContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 40px;
    }


  }


    @media (max-width: 900px) {
      .header {
        
        letter-spacing: '9px'; 
        margin-bottom: '20px'
      } 

      .fooditem {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      }
      }

      @media (min-width: 901px) {
        .fooditem {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          margin-top: 60px;
          margin-bottom: 100px;
          
          
          }

          .foodinfo {
            margin-right: 20px;
          }
      }
    